.background-image {
  background-image: URL("./components/images/background.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: -1rem;
  border-top:solid 2.5px rgba(14, 14, 14, 0.164) ;
}

.shadow {
  -webkit-box-shadow: 0px 9px 6px 0px #000000; 
  box-shadow: 0px 9px 6px 0px #000000;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

nav > div {
 margin-top: auto;
 margin-bottom: 1rem;
}

nav div button {
  color: white;
  background-color: rgb(240, 10, 10);
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  margin-left: .5rem;
  font-weight: 600;
}

.header {
  height: 4rem;
  object-fit: contain;
}

.home {
  padding-top: 13vh;
  display: flex;
  justify-content: space-around;
}

.home img {  
  border-radius: 80px;
  background-color: rgb(240, 10, 10);
  height: 35rem;
  width: 35rem;
  -webkit-box-shadow: 0px 9px 6px 0px #000000; 
  box-shadow: 0px 9px 6px 0px #000000;
}

.home a {
  text-decoration: none;
}

.search {
  padding-top: 3vh;
}

.dish-summary {
  display: flex;
  justify-content: row;
}

.dish-summary-text {
  display: flex;
  flex-direction: column;
}