.background-image {
  background-image: URL("./components/images/background.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: -1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > div {
 margin-top: auto;
 margin-bottom: 1rem;
}

nav div button {
  color: white;
  background-color: rgb(255, 20, 20);
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  margin-left: 1rem;
  font-weight: 600;
}

.header {
  width: 80vw;
  height: 4rem;
  object-fit: contain;
}

.home {
  padding-top: 15vh;
  display: flex;
  justify-content: space-around;
}

.home img {  
  border: 5px solid black;
  border-radius: 20px;
  height: 35rem;
  width: 35rem;
  background-color: rgb(255, 0, 0);
}

.home h1 {
  text-align: center;
  color: black;
  font-size: 10rem;
}

.home a {
  text-decoration: none;
}

.search {
  padding-top: 3vh;
}